*{
	margin: 0;
	padding: 0;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.container{
	margin:20px;
	padding:20px;
	text-align:center;
}

h1{
	font-size:1.5em;
	font-weight:lighter;
	margin-bottom:20px;
}

p{
	margin-bottom: 10px;
}

.entry {
	border:2px solid black;
	padding:5px;
	font-size:1em;
	width:30px;
}

 .guess{
 	border:2px solid black;
	padding:5px;
	font-size:1em;
	width:75px;
}

input[type=submit]{
	border: 2px solid black;
	box-shadow:2px 3px;
	padding:5px;
	background-color:white;
	display:block;
	margin:5px auto 50px auto;
}

.alert{
	padding:20px;
	margin:20px;
	color:white;
	font-weight: normal;
	font-size:1em;
}

.alert .red {
	background-color:red;
}

.alert .green {
	background-color: green;
}